<script>
  (function addItem() {
      var location = window.location.href;
      var split = location.split("/")
      var lastElem = split[split.length -1] 
      var elem, id, variant, price;
      if(lastElem === "shirt") {
          elem = 'NinjaT-Shirt';
          id = '67890'
          variant = 'Black'
          price='33.75'
  
      } else if(lastElem === "cap") {
          elem = 'Cap';
          id = '12345'
          variant = 'White'
          price='15.25'
      } else {
        return
    }
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
          event: 'eec.addToCart',
          ecommerce: {
            'currencyCode':'SEK',
            'add':  {
              'products': [{ 
                'id': id, 
                'name': elem, 
                'price': price,
                'brand': 'Google',
                'category': 'Apparel',
                'variant': variant,
                'position':0,
                'quantity': 1
              }]
            }
           

          }
        });
        
  })()
      
      </script>