<script>
  (function addItem() {
      var location = window.location.href;
      var split = location.split("/")
      var lastElem = split[split.length -1] 
      var elem, id, variant;
      if(lastElem === "shirt") {
          elem = 'NinjaT-Shirt';
          id = '67890'
          variant = 'Black'
  
      } else if(lastElem === "cap") {
          elem = 'Cap';
          id = '12345'
          variant = 'White'
      }
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
          event: 'eec.addToCart',
          ecommerce: {
            'add': [
              {
                'name': elem,  
                'id': id, 
                'variant': variant,    
                'list': 'Gallery'
              
              }]
          }
        });
        
  })()
      
      </script>